# Node.js (Backend)
Backend/node_modules/
Backend/.env
Backend/logs/
Backend/*.log

# React (Frontend with Vite)
Frontend/node_modules/
Frontend/dist/
Frontend/.env
Frontend/.env.production
Frontend/.vite/

# General
/node_modules/
.DS_Store
Thumbs.db
*.swp
*.swo

# python files
/Data Loading/.env
